    <div class="section5" id="section5">
    
      <div class="sectUpper">
        <img src="images/logon.jpg" class="sect5Logo">
        <p><strong>
          Pehchaan builds the capabilities of grassroots organisations and the women they work with. By investing in organisation building, injecting business acumen, upgrading quality and production infrastructure and providing market linkages, we generate livelihoods, create women entrepreneurs and build enterprises.
          <br><em>“I raise up my voice not so I can shout but so those without a voice can be heard... We can not succeed if half of us are held back.” – Malala Yousafza <br></em>
        </strong></p>
      </div>
    
      <div class="sectBelow">
          <h3>CONTACT US:</h3>
          <div class="spandiv">
            <span class="email"><strong>Email:</strong> xxxx@pehchaan.com</span>
            <span><strong>Phone no:</strong> 910255XXYY</span>
          </div>
    
          <div class="social">
            <div><strong>Social Media Handles:</strong></div>
              <img class="sect5logoimg" src="images/logofb.png" alt="facebook">
              <img class="sect5logoimg" src="images/logoig.png" alt="instagram">
              <img class="sect5logoimg" src="images/logoin.png" alt="linkedIn">
              <img class="sect5logoimg" src="images/logotw.png" alt="twitter">
          </div>
        
      </div>
       
    </div>
  

