 
body{
    background-image: url(../images/t1.jpg);
    
}
.heading-top{
    padding-top: 4rem;
    height: 10rem;
    text-align: justify;
    display: flex;
    flex-direction: row;
}


.ladiesSect{
    background-image: url(../images/backprod1.webp);
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
    border-radius: 0 30% 0 30% ;
    
    font-style: italic;
    margin-right: 3rem;
   
    border-style:outset;
    color: rgb(10, 10, 10);
    font-weight: bold;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(241, 3, 3);
}

.img_sect2{
    background-color: rgb(219, 211, 211);
    border-radius: 3%;
}

.space{
    padding-left: 15rem;
   
}

.space1{
    padding-left: 50px;
   
}
.text-we{
    font-weight: 50;
}
.but{
    background-color: rgb(197, 9, 197); /* Green */
    border:hotpink;
    border-radius: 3px;
    box-shadow: rgb(236, 154, 154);
    border-width: 45px;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-size-adjust:5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.but:hover{
    background-color: rgb(189, 35, 120);
}